# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.vscode
.env
venv

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg
*.egg-info
*.egg-info/
*.tar.gz
*.tar
*.zip
*.gz
*.bz2
*.tgz
*.rar
*.7z
*.exe
*.msi
*.egg-info
*.egg-info/
*.egg-info/*
*.egg-info/*.*
*.egg-info/*.txt
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
*.egg-info/installed-files.txt
*.egg-info/namespace_packages.txt
*.egg-info/not-zip-safe
*.egg-info/requires.txt
*.egg-info/scripts
*.egg-info/zip-safe
*.egg-info/installed-files.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
*.egg-info/SOURCES.txt
*.egg-info/PKG-INFO
*.egg-info/requires.txt
*.egg-info/namespace_packages.txt
*.egg-info/not-zip-safe
*.egg-info/scripts
*.egg-info/zip-safe
*.egg-info/installed-files.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
*.egg-info/SOURCES.txt
*.egg-info/PKG-INFO
*.egg-info/requires.txt
*.egg-info/namespace_packages.txt
*.egg-info/not-zip-safe
*.egg-info/scripts
*.egg-info/zip-safe
*.egg-info/installed-files.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
*.egg-info/SOURCES.txt
*.egg-info/PKG-INFO
*.egg-info/requires.txt
*.egg-info/namespace_packages.txt
*.egg-info/not-zip-safe
*.egg-info/scripts
*.egg-info/zip-safe
*.egg-info/installed-files.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
*.egg-info/SOURCES.txt
*.egg-info/PKG-INFO
*.egg-info/requires.txt
*.egg-info/namespace_packages.txt
*.egg-info/not-zip-safe
*.egg-info/scripts
*.egg-info/zip-safe
*.egg-info/installed-files.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
*.egg-info/SOURCES.txt
*.egg-info/PKG-INFO
*.egg-info/requires.txt
*.egg-info/namespace_packages.txt
*.egg-info/not-zip-safe
*.egg-info/scripts
*.egg-info/zip-safe
*.egg-info/installed-files.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
*.egg-info/SOURCES.txt
*.egg-info/PKG-INFO
*.egg-info/requires.txt
*.egg-info/namespace_packages.txt
*.egg-info/not-zip-safe
*.egg-info/scripts
*.egg-info/zip-safe
*.egg-info/installed-files.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
*.egg-info/SOURCES.txt
*.egg-info/PKG-INFO
*.egg-info/requires.txt
*.egg-info/namespace_packages.txt
*.egg-info/not-zip-safe
*.egg-info/scripts
*.egg-info/zip-safe
*.egg-info/installed-files.txt
*.egg-info/